<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ProductionV1">

	


	<test name="Production Test">
		
		<classes>
			<!--  class name="com.inetbanking.testCases.TC_LoginTest_001" /-->
			<!--  <class name="com.inetbanking.testCases.TC_LoginDDT_002" />-->
			<class name="com.Practice2.testcases.Baseclass" />
			

		</classes>

	</test>

</suite> 